.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.question_number {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.constraints {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 40vw;
  height: auto;
}

.input_constraint1,
.input_constraint2,
.output_constraint1,
.output_constraint2,
.input_title1,
.input_title2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* .input_title {
  white-space: pre-line;
} */

.input_constraint2 {
  color: #2196f3;
  word-break: break-all;
  white-space: pre-wrap;
  text-overflow: ellipsis;  
}
.input_constraint1 {
  color: #2196f3;
}

.output_constraint1 {
  color: #4caf50;
}
.output_constraint2 {
  color: #4caf50;
  word-break: break-all;
  white-space: pre-wrap;
}

.input_box {
  width: 400px;
  height: 60px;
  font-size: 20px;
  padding: 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.input_box:focus {
  outline: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.submit_button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff5722;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit_button:hover {
  background-color: #e64a19;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.output_box {
  width: 400px;
  height: 100px;
  font-size: 20px;
  padding: 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  overflow-y: scroll;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.input_title2{
    white-space: pre-line;
}

.big_input_box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  white-space: nowrap;
}

.big_output_box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  white-space: nowrap;
}

.big_input_title {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  white-space: nowrap;
}
