*{
  overflow: hidden;
}

body::before{
  content: '';
  background-color: black;
  background-image: url('https://i.imgur.com/4B3Yy23.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(3px);
}

@font-face {
  font-family: "Prime-Regular";
  src: url("../../fonts/Prime-Regular.ttf");
}

/* body {
  background-image: url('https://i.imgur.com/XzhXque.png');
  background-size: cover;
} */

.logo1{
  height: 120px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo2{
  height: 80px;
  position: absolute;
  top: 40px;
  right: 40px;
}

.heading {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-family: "Prime-Regular";
  font-size: 90px;
}

.container {
  margin-top: 50px;
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.fancy_button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-family: 'Prime-Regular';
  color: white;
  height: 100px;
  width: 25%;
  border-radius: 1rem;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
}

.fancy_button:hover{
  color: black;
  background-color: white;
  transition: background-color 0.2s;
}


/* .fancy_button {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff5722;
  padding: 15px 30px;
  border: none;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.fancy_button:hover {
  background-color: #e64a19;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.fancy_button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0.8);
}

.fancy_button:hover:before {
  opacity: 1;
  transform: scale(2.5);
} */